<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>naumoff.tech</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="color: var(--bs-blue);background: #434c5f;">
    <h1 style="color: #86c0d1;padding-bottom: 0px;padding-top: 128px;text-align: center;">Testing Docker Page...</h1>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>